@font-face {
  font-family: 'dos';
  src: url('dos.ttf') format('truetype');
}

::selection { background-color: #222; }
::-moz-selection { background-color: #222; }

html {
  font-size: 125%;
}

h1 {
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'dos', 'consolas';
  font-size: 1em;
  line-height: 1.2;
  color: #bbb;
  background-color: #000084;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #222;
  background-color: #71EEB8;
}

a, a:hover, a:visited { color: #ffff66; }

li { margin: 10px 0;}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

.container-inner { padding: 0 40px; }

.strike { text-decoration: line-through; }

.heading {
  text-decoration: underline;
  border-bottom: 1px solid #bbb;
}