<div class="mb-3">
    <div class="container container-narrow">
        <h2 class="text-magenta">
            Select Projects &amp; Work
        </h2>
    </div>
    <article>
        {% for workItem in collections.recentworks %}
            <div class="work-list mt-3 mb-5">
                <a href="/{{ workItem.permalink }}">
                    <h3 class="mb-1 text-cyan">{{ workItem.projectTitle }}</h3>
                    <p class="mb-2">{{ workItem.excerpt }}</p>
                    <picture class="bg-white center-image p-2">
                        <img src="{{ workItem.image }}" alt=""/>
                    </picture>
                </a>
            </div>
        {% else %}
            <p class="error-message">No work found</p>
        {% endfor %}
    </article>
</div>