<div class="mb-3">
    <div class="container container-narrow">
        <h2 class="text-magenta">
            Select Recent Work
        </h2>
    </div>
    <article>
        {% for workItem in collections.recentworks %}
            <div class="mt-2 mb-5">
                <h3 class="mb-3 text-cyan">{{ workItem.projectTitle }}</h2>
                <div class="bg-dark-light center-image p-2">
                    <img class="blog-image" src="{{ workItem.image }}" alt="{{ workItem.blogTitle }}"/>
                </div>
                {# <a href="/{{ workItem.permalink }}">
                    <div>{{ workItem.excerpt }}</div>
                </a> #}
            </div>
        {% else %}
            <p class="error-message">No work found</p>
        {% endfor %}
    </article>
</div>