body {
    background: #fff !important;
}

/* Custom breadcrumb styling */
.breadcrumb-item+.breadcrumb-item::before {
    content: ">" !important;
}

.btn-wider {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Color selector for product view */

.color-selector > [active] {
    border: 3px solid #222;
    border-radius: 50%;
}

.color-selector > [active] img {
    border: 2px solid #fff;
}

.color-selector li {
    border: 3px solid transparent;
}

.color-selector li > img {
    border: 2px solid transparent;
}