html,
body {
  height: 100%;
}

body {
    background-color: var(--light);
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.wrapper .sidebar-nav, .wrapper main {
    padding-top: 6rem;
}


.wrapper .sidebar-nav {
    position: fixed;
    top: 0;
    left: -280px;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    background-color: #293042;
    font-size: .875rem;
    color: var(--light);
    overflow-y: auto;
    transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    z-index: 100;
}

.wrapper .sidebar-nav.collapse {
    left: 0;
    transition: left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
}

@media (min-width: 1025px) {
    .wrapper .sidebar-nav {
        position: static;
        left: 0;
        height: auto;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    }

    .wrapper .sidebar-nav.collapse {
        left: auto;
        margin-left: -280px;
        transition: margin-left .35s ease-in-out,left .35s ease-in-out,margin-right .35s ease-in-out,right .35s ease-in-out;
    }
}

.sidebar-nav a {
    color: var(--light);
    text-decoration: none;
}

.sidebar-nav ul {
    margin-bottom: 3rem;
}

.sidebar-nav li {
    margin-top: 1rem;
    margin-left: 1.5rem;
}

.wrapper main {
    display: flex;
    min-height: 100vh;
    /* width: 100%; */
    min-width: 0;
}

.dropdown-menu-wide {
    min-width: 18rem;
}

/* Limit width of .container-fluid */
.container-fluid-limit {
    max-width: 1440px;
}

.card-customer-btn {
    width: 42px;
    height: 42px;
    vertical-align: middle;
}